@import "./_settings.less";

body{
    margin: auto;
    background-color: @darker;
    color: white;
    width: 27rem;
}

input, button, textarea{
    margin: 0;
    padding: 0;
}

.taskInput{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1rem;
    padding-bottom: 1rem;
    width: 85%;
    margin: auto;
    border-bottom: 1px solid @light;

    .taskInput__heading{
        width: 100%;
        text-align: center;
    }

    .taskInput__text{
        width: 70%;
        height: 2rem;
        padding-left: 10px;
        border: none;
        background-color: @dark;
        border-radius: 3px;
        color: white;
        font-size: 1rem;
        
    }

    .taskInput__button{
        height: 2rem;
        width: 20%;
        background-color: @dark;
        color: white;
        border-radius: 5px;
        border: none;
    }

    .taskInput__textarea{
        width: 100%;

        label{
            font-size:1.2rem;
        }

        textarea{
            resize: none;
            width: 100%;
            background-color: @dark;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 0.5rem;
            font-size: 1rem;
        }
    }

    .taskInput__date{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 50%;

        input{
            width: 100%;
            background-color: @dark;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 1rem;
            color-scheme: dark;
        }
    }

    .taskInput__files{
        width: 1.5rem;
        cursor: pointer;
    }
}


//TASK LIST

.taskList{
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    width: 85%;
    margin: auto;
    padding-top: 2rem;

    .task{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: @dark;
        border-radius: 5px;
        border: 3px solid @light;
        padding: 0 1rem 0 1rem;

        &_edit{
            background-color: @darker;
        }

        .task__name{
            flex: 1;
            font-size: 1.2rem;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
            &_edit{
                flex: 1;
                background-color: transparent;
                color: white;
                font-size: 1rem;
                border: none;
                border-bottom: 1px solid @light;
                margin: 1rem 0 0.5rem 0;
                padding-bottom: 0.5rem;
            }
        }
        .task__button_edit{
            width: 1.5rem;
            cursor: pointer;
        }

        .task__icons{
            margin: auto;
        }
        .task__icon{
            width: 1.5rem;
            margin: 0 0.3rem 0 0.3rem;
            cursor: pointer;
            &:nth-child(1){
                border-radius: 15px;
            }
        }

        .task__description{
            width: 100%;
            margin-top: 0;
            padding-top: 1rem;
            font-size: 1.1rem;
            border-top: 1px solid @light;
            &_edit{
                width: 100%;
                resize: none;
                background-color: transparent;
                color: white;
                border: 1px solid @lighter;
                border-radius: 5px;
                padding: 10px;
                box-sizing: border-box;
                font-size: 1rem;
            }
        }

        .task__date{
            width: 50%;
            background-color: transparent;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 0 0.5rem 0;
            font-size: 1rem;
            color-scheme: dark;
        }

        .task__date_edit{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;

            label{
                font-size: 1.2rem;
                margin: auto;
                margin-left: 5px;
            }

            input{
                width: 50%;
                background-color: transparent;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 0 0.5rem 0;
                font-size: 1rem;
                color-scheme: dark;
            }
        }

        .task__file{
            font-size: 1.2rem;
            text-decoration: underline;
            width: 30%;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
        }
        .task__file-icon{
            margin-left: 0.5rem;
            width: 1.5rem;
            cursor: pointer;
        }
    }
}
